@charset "utf-8";

$white: #fff;
$Black: #000;
$darkGray: #333;
$paleGray: #dad8d8;
$beige: rgb(237, 216, 199);
$paleBeige: rgba(237, 216, 199, .5);
$darkBeige: rgb(173, 147, 125);
$darkPink: rgb(195, 114, 140);
$darkPinkTrans: rgb(195, 114, 140,.8);
$babyPink: rgb(252, 207, 205);
$babyPinkPale: rgb(252, 207, 205,.5);
$midiumGreen: #66cdaa;
$lightGreen: #a2e8d1;

// ブレイクポイントメモ
// max-width: 880px
// max-width: 580px
// max-width: 1200px