@charset "utf-8";

@use 'const';

html{
    scroll-behavior: smooth;
}
@media(max-width: 580px){
    body{
        font-size: 12px;
    }
}
/* business-hours */
@media(max-width: 880px){
    .header-container{
        display: none;
    }
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 580px){
    .header-top{
        display: block;
        text-align: center;
    }
}
@media(max-width: 880px){
    .header-top{
        display: block;
        text-align: center;
    }
}
@media(min-width: 581px){.logo-img{
    width: 40%;
    min-width: 457px;
}}
@media(max-width: 880px){
    .logo-img{
        margin: 0 auto;
    }
}
@media(max-width: 580px){
    .logo-img{
        margin: 16px auto 0 auto;
        width: 220px;
    }
}

.business-hours{
    padding: 8px;
}
.feel-free{
    color: const.$darkGray;
}

.safe{
    color: const.$darkBeige;
    margin: 0 16px;
}
.tel-num{
    font-size: 2.1rem;
    font-weight: bold;
    color: const.$darkPink;
}
.founding{
    font-size: 2rem;
    font-weight: bold;
    color: const.$darkBeige;
}
/* nav */
.menu-list{
    display: flex;
    font-size: 14px;
}
.menu-item{
    width: 100%;
    height: 60px;
    background-color: const.$babyPink;
    text-align: center;
    margin: 0 1px;
    &:hover{
        background-color: const.$darkPink;
    }
}
.menu-item:nth-child(1){
    margin: 0 1px 0 0;
}
.menu-item:nth-child(5){
    margin: 0 0 0 1px;
}
.menu-item-container{
    color: const.$darkGray;
    text-decoration: none;
    line-height: 60px;
    display: block;
    &:hover{
        color: const.$white;
    }
}
.menu-item-pulldown{
    width: 100%;
    height: 60px;
    background-color: const.$babyPink;
    margin: 0 1px;
    text-align: center;
    &:hover{
        background-color: const.$darkPink;
    }
}
.menu-item-pulldown > a{
    color: const.$darkGray;
    text-decoration: none;
    line-height: 60px;
    display: block;
    &:hover{
        color: const.$white;
    }
}
.js_menu_pulldown-item{
    width: 100%;
    height: 60px;
    background-color: const.$babyPink;;
    border: solid 1px white;
    text-align: center;
    line-height: 60px;
    display: none;
    z-index: 200;
    position: relative;
    &:hover{
        background-color: const.$darkPink;
        color: const.$white;
    }
}
.js_menu_pulldown-item > a{
    color: const.$darkGray;
    text-decoration: none;
    display: block;
}
.js_menu_pulldown-item > a:hover{
    color: const.$white;
}
.hamburger-li{
    font-size: 12px;
}
.hamburger-ul{
    margin-left: 32px;
}
.header-info{
    display: flex;
    justify-content: center;
}
.cmn-top-part-span{
    width: 24px;
}
.cmn-top-part{
    background-color: const.$darkPink;
    width: 180px;
    height: auto;
    color: const.$white;
    padding: 8px;
    text-align: center;
    margin: 0 16px;
    &:hover{
        background-color: const.$babyPink;
        color: const.$Black;
    }
}
.cmn-top-part{
    display: flex;
    text-decoration: none;
}
.cmn-top-part > div{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.triangle-arrow{
    transform: rotate(90deg);
}